#nav-list{
	background: #e6f2ff;
	width: 100%;
	padding: 0;
	margin: 0;
}

h1{
	margin-left: 15px;
	margin-bottom: 0;
	margin-top: 0;
    line-height: .75;
    color: black;
}

ul div{
	border: 1px gray solid;
	padding: 10px;
}

.nav>li>a{
	padding: 0px;
}

#header-nav{
	background: #99ccff;
    border: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#collapsable-nav{
	width: 100%;
	padding: 0;
	margin: 0;
}

section>p{
	background: #66b3ff;
	padding: 15px;
}

.row{
	margin-right: 15px;
	margin-left: 15px;
}

